body {
  background-color: gray; /* for development */
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: monospace, sans-serif;
}
