h1 {
  text-align: center;
}

.AssingUser {
  text-align: center;
}

.userListContainer {
  margin-top: 20px; /* Ajusta según sea necesario */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
