body {
  background-color: #dbd2e8; /* for development */
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Gibson regular, sans-serif;
}
